# ─── Server ───────────────────────────────────────────
PORT=5000
NODE_ENV=development

# ─── MongoDB ──────────────────────────────────────────
MONGO_URI=mongodb+srv://Admin:15Sriom@vendordata.6ebb6vz.mongodb.net/freshscan?retryWrites=true&w=majority&appName=VendorDATA
# For Atlas: mongodb+srv://<user>:<password>@cluster.mongodb.net/freshscan

# ─── JWT ──────────────────────────────────────────────
JWT_SECRET=b5ece0f7c728c9258f003dbd5190da62d72f1ba2ea5c762c8f1b3e3d65f7cec7b8eaffc5361a882cb7c7a3f51b0709a6eea6eabdc2fad71e958b3c897986d3a3
JWT_EXPIRES_IN=7d

# ─── AI Model API ─────────────────────────────────────
AI_BASE_URL=https://sriomdash-fruitclassifier.hf.space/api
AI_PREDICT_ENDPOINT=/predict
