# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/
bin/
lib/
include/

# AI Models & Large Files
# (Usually better to keep models on Google Drive/OneDrive, not Git)
*.h5
*.keras
*.pkl
*.pt
*.pth
*.weights

# Logs and databases
*.log
api.log
*.db
*.sqlite3

# OS related files
.DS_Store
Thumbs.db

# Environment variables (Crucial for security)
.env
.flaskenv

# Editor/IDE specific
.vscode/
.idea/